/*Pon las fuentes Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Estilos generales*/
body{
    width: 100%;
    height: 100%;
    background: #5E5F5F;
    overflow: hidden;
}

h1,h2, label{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Work Sans', sans-serif;
}
/*Estilos loading*/
#container_loading{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo_loading{
    width: 100%;
    margin-top: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo_loading img{
    width: 300px;
    height: 300px;
    padding: 2%;
}
#text_loading{
    width: 100%;
    text-align: center;
    color: rgb(226, 226, 226);
}
/*Estilos del login*/
#container_login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header_login{
    margin-top: 2%;
    position: absolute;
}

#header_login img{
    width: 100px;
    height: 100px;
}

#login{
    position: inherit;
    background: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 450px;
    margin-top: 5%;
    padding: 2%;
    padding-top: 4%;
}

.title{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    font-size: 1.7rem;
    
}
#login form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin-top: 2%;
}
#login form div{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#login form div label{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 1.5rem;
    
}
#login div label:nth-last-child(2){
    margin-top: 4%;
}
#login form div input{
    height: 40px;
    margin-bottom: 2%;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 1.12rem;
}
#login #botons_login{
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    font-size: 1.15rem;
}
#login #botons_login button{
    width: 50%;
    height: 50px;
}

#btnSubmit_login{
    border: #2B513F;
    background: #2B513F;
    color:white;
}
#btn_SingUp{
    border:#00BF66;
    background: #00BF66;
    color: white;
}
#btnSubmit_login:hover{
    transform:scaleY(111%);
    border: 2px solid black;
    background: rgb(16, 16, 16);
}
#btn_SingUp:hover{
    transform:scaleY(111%);
    border: 2px solid rgb(109, 109, 109);
    background: rgb(109, 109, 109); 
    color: white;
}

/*Estilos para la página de registro*/
#header_singUp h1{
    padding: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 4%;
    font-size: 2rem;
}
#container_singUp{
    margin-top: -4%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
}
#header_singUp{
    color: white;
}
#singUp{
    text-align: center;
    width: 100%;
    color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

#container_singUp #singUp #form_singUp .content-logo{
    margin-top: 2%;
    position: absolute;
    width: 90vw;
    display: flex; 
    justify-content: center;

}
#container_singUp #singUp #form_singUp .content-logo .logo{
    width: 100px;
    height: 100px;
}
#singUp form #content_singUp{
    position: inherit;
    width: 90vw;
    height: 85vh;
    display: flex;
    background: #f6f6f6;
    margin-bottom: 6.5%;
    margin-top: 1%;
}
#section_tuTienda, #section_usuario{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
#section_usuario{
    border-right: 1px solid rgb(33, 33, 33);
    height: 83%;
}
#section_usuario .usuario-title, #section_tuTienda .tutienda-title{
    font-size: 2rem;
    margin-top: -3%;
    margin-bottom: 4%;
}

#section_usuario .inputs{
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100px;
    border: 1px solid gray;
    border-radius: 10px;
}
#section_tuTienda .inputs:not(.nit){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
    width: 80%;
    border: 1px solid grey;
    border-radius: 10px;
}
#section_tuTienda .inputs label, #section_usuario .inputs label{
    font-size: 1.4rem;
    margin-bottom: 2%;
    font-weight: normal;
}
#section_tuTienda .inputs input, #section_usuario .inputs input{
    width: 70%;
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid rgb(199, 199, 199)
}
#section_tuTienda .inputs input{
    margin-bottom: 2%;
}
#btnSubmit_singUp_content{
    right: 0;
    position: relative;
    margin-left: 43.7%;
    margin-top: -10.7%;
    width: 80%;
}
#btnSubmit_singUp{
    background: #00BF66;
    border: 1px solid #00BF66;
    color: white;
    padding: 2%;
    width: 15%;
    height: 25px;
    font-size: 1.05rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#generar_nit{
    background: #00BF66;
    border: 1px solid #00BF66;
    color: white;
    margin-left: -0.5%;
    height: 30px;
    width: 20%;
}

#submit_SingUp #btn_SingUp{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    margin-left: 35%;
    margin-top: -11.6%;
    height: 49px;
}

/*Estilos home.html*/
#container_home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgb(40, 40, 40);
}
header{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background: #5E5F5F;
    color: white;
}
#footer_home{
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding: 1%;
    background: #5E5F5F;
}
header #marvy_ShopmarketInfo{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
header #profile_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}
header #profile_menu #profile_circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgb(155, 155, 155);
    margin-right: 10%;
}
header #profile_menu i{
    font-size: 30px;
    cursor: pointer;
}
header #profile_menu i:hover{
    color: #00BF66;
}
header #logo_Home{
    width: 85px;
    height:85px;
    padding: 2%
}
#main_home{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#main_home #content_home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#main_home #content_home #desplegable_Opc{
    width: 40%;
    height: 50px;
    margin-top: 2%;
    border-radius: 10px;
    background: #00BF66;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#main_home #content_home #desplegable_Opc h2{
    font-weight: normal;
}

@media(max-width: 992px){

    #login{
        margin-top: 7%;
        width: 80%;
    }
    footer .content{
        position: relative;
        margin-top: -10%;
    }
    #login{
        margin-top: 10%;
    }
    #login #botons_login{
        padding-top: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #submit_SingUp #btn_SingUp{
        margin: 0;
    }  
}